.btn{
  padding: 10px;
  background-color: #ffffff;
  color: black;
  border: 2px solid black;
}

.btn:hover{
  padding: 10px;
  background-color: #0077b6;
  color: white;
  border: none;
}

.product-container{
 display: grid;
 height: 100%;
 grid-template-columns: repeat(4,1fr);
 gap:10px;
 justify-content: space-between;
 align-items: center;
 margin: 10px;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%; 
  border: 1px solid black;
  border-radius: 10px;
  padding: auto;
  background-color: #feeeee;  
  text-align: center;
}
